---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Publications from '../components/Publications.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Header />
  <main id="main">
    <Hero />
    <Publications />
    <Experience />
    <Projects />
  </main>
  <Footer />
</BaseLayout>
