---
import Section from './Section.astro';
import TimelineItem from './TimelineItem.astro';
import { experience } from '../data/experience';
---

<Section id="experience" title="Experience">
  <div class="timeline">
    {experience.map((item) => <TimelineItem item={item} />)}
  </div>
</Section>
